html, body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    border: solid black;
    width: 75vmin;
    height: 75vmin;
    resize: both;
    overflow: hidden;
}

.game-div {
    border: dashed black;
    background-size: cover;
    background-repeat: round;
}

.X {
    background-image: url("img/x.svg");
}

.O {
    background-image: url("img/o.svg");
}

#exit-dialog {
    position: relative;
    left: 39%;
}

#credit-container {
    position: absolute;
    left: 0%;
    bottom: 0%;
    margin: 5px;
    font-size: 0.8rem;
    color: white;
}
#credit-container > p{
    margin-bottom: 0%;
}
a {
    color: white;
}